#equilateral, #isosceles, #scalene, #notATriangle, .buttons {
    display: none;
}
body {
    background-color: #DC4405;
}
img {
    max-width: 100%;
    height: auto;
}
/* h1 {
    color: #000000;
    font-weight: 700 
} */
.darkmode{
    background-color: rgb(15, 14, 14);
    color: antiquewhite;
  }
  .highlight {
    background-color: purple;
    color: white;
    border: 5px solid black;